body {
    font-family: Arial, Helvetica, sans-serif;
}

.task-completato {
    text-decoration: line-through;
}

.btn-remove-task-item {
    cursor: pointer;
    font-size: 1rem;
}

input {
    height: 2rem;
    width: 200px;
}

button {
    cursor: pointer;
    font-size: 1.5rem;
}

main {
  padding: 5rem;
}

main > .task-list-container {
  margin: auto;
  width: 70%;
  border: 1px solid black;
  padding: 2rem;
}

main > .task-list-container {
}

main > .task-list-container > .input-container {
    text-align: center;
}

main > .task-list-container > .output-container {
}

main > .task-list-container > .output-container > ul {
    list-style: none;
    padding-left: 0;
}

main > .task-list-container > .output-container > ul li:not(:last-child) {
    margin-bottom: 1rem;
}


main > .task-list-container > .output-container > ul li > span {
    margin-right: .5rem;
    cursor: pointer;
}
